body {
	background-color: rgb(136, 158, 172);
	margin:0%;
	padding:0%;
}
ul li#button_list {
	list-style-type: none;
	display: inline-block;
}

.img_button {
	display: inline-block;
	background-color: rgba(0, 8, 98, 0.0);
	padding: 1em;
	width:fit-content;
	height:fit-content;
	border-style: unset;
	border-radius: 100% 100% 100% 100%;
}

.img_button:hover {
	background-color: rgba(0, 8, 98, 0.2);
}




#chat_box {
	/* position:relative; */
	/* display: inline-block; */
	width: 100%;
	height: 90%;
	padding-bottom: 0%;
	border-style: unset;
	background-color: rgba(0, 8, 98, 0.2);
	overflow: auto;
}

#chat_message_box {
	display: block;
}

#chat_message_box #chat_message {
	position:relative;
	display: inline-block;
	width: fit-content;
	padding: 1%;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	border-style: outset;
	border: 1em 1em 1em 1em;
	border-color: black;
	border-radius: 1em 1em 1em 1em;
	background-color: rgba(255, 255, 255, 0.814);
	color: black;
	text-align: center;
	/* vertical-align: middle; */
	font-size: 150%;
}

#chat_message_box #prof_img_button {
	position:relative;
	display: inline-block;
	background-color: rgba(0, 8, 98, 0.0);
	top: 1em;
	left: 1em;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	margin-right: 1em;
	border-style: none;
	border-radius: 100% 100% 100% 100%;
	width:7em;
	height:7em;
}

#chat_message_box #prof_img_button:hover {
	cursor: pointer;
}

#chat_message_box #prof_img_button #prof_img {
	width: 100%;
	height: 100%;
	border-radius: 100%;
}

#chat_form {
	/* position: absolute; */
	display: flex;
	width: 100%;
	height: 10%;
	margin:0%;
	padding: 0%;
	background-color: rgba(0, 8, 98, 0.2);
}

#chat_form #chat_text {
	position: relative;
	display: inline-block;
	vertical-align: auto;
	border-style: none;
	width: 100%;
	height:100%;
	font-family: monospace;
	font-size: large;
	background-color: rgba(0, 8, 0, 0.2);
	border-radius: 5em 5em 5em 5em;
	color:rgb(227, 228, 238)
}

#chat_form #chat_send {
	position: relative;
	border-style: none;
	display: inline-block;
	/* margin: 0; */
	/* margin-left: 5em; */
	width: 10em;
	height: 100%;
	border-radius: 5em 5em 5em 5em;
	border-style: none;
}

#chat_form #chat_send:hover {
	background-color: rgba(10, 79, 79, 0.347);
}

#notification_center {
	display: inline-block;
	position: fixed;
	border-style: double;
	background-color: rgba(0, 8, 98, 0.2);
	top:0%;
	right: 0%;
}

#notification:nth-child(even) {
	background-color: rgba(51, 108, 118, 0.552);
	border-color: rgba(0, 36, 98, 0.619);;
}

#notification {
	font-family: 'Courier New';
	font-size: large;
	border: 0.1em;
	border-style: outset;
	border-color: rgba(95, 158, 160, 0.396);
	color: white;
}

#notification:hover {
	background-color: rgba(0, 255, 76, 0.377);

}


ul li button img {
	width: 5em;
	height: 5em;
}

#users.ui-autocomplete-input {
	position: relative;
	width: 80%;
}

#ui-menu-item-wrapper {
	display: block;
}
