<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Sign Up</title>
  </head>
  <body>
    <form action="/auth/signup" method="POST">
		<input name="provider" type="hidden" value="<%=provider %>" >
		<input name="thirdPartyId" type="hidden" value="<%=thirdPartyId %>" >
		<input name="profImg" type="hidden" value="<%=profImg %>" >

		<label for="nickname">nickname:</label>
		<input id="nickname" name="nickname" type="text"><br>

		<label for="2FA">2FA?</label>
		<input id="2FA" name="2FA" type="checkbox"><br>

		<input type="submit" value="sign up">
	</form>
  </body>
</html>
