<html>
	<head>
		<title>Chat</title>
		<link rel="stylesheet" href="css/style.css">
	</head>
	<body>
		<div class = 'hello_stranger'></div>
		<div class = 'chat_box'></div>
		<form class = 'chat_form'>
			<input class='chat_text' type="text" placeholder="Enter message...">
			<input class='chat_send' type="image" src="images/send.png" >
		</form>
		<div class = 'notification_center'>

		</div>

  		<script src="https://cdn.socket.io/4.5.0/socket.io.min.js" integrity="sha384-7EyYLQZgWBi67fBtVxw60/OWl1kjsfrPFcaU0pp0nAh+i8FD068QogUvg85Ewy1k" crossorigin="anonymous"></script>
		<script src="js/notification.js"></script>
		<script src="js/chat-client.js"></script>
	</body>
</html>
